.cardItem {
  max-width: 210px;
  height: 260px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease;

  .cardListTitle {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .cardListSub {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .cardInner {
    margin-right: 25px;
  }


  .CardListPrice {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .CardWrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }
}

.ButtonInner {
  border: none;
  background: inherit;
  cursor: pointer;
}

.CardListSub {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}