.Overlay {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.Drawer {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 420px;
  min-height: 100vh;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .DrawerTitle {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 0;
    font-size: 24px;
    padding-bottom: 30px;
    img{ 
      cursor: pointer;
    }
  }
}



.CartItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 30px 20px 30px 20px;
  margin-bottom: 20px;

  .CartItemBox {
    text-align: left;
    margin-left: 21px;
    margin-right: 12px;
  }

  .CartItemTitle{
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 8px;
  }
  .DeleteButton {
    background: #ffffff;
    border: none;
    cursor: pointer;
  }

  .CloseBtn {
    opacity: 0.5;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    opacity: 0, 5;
    &:hover {
      opacity: 1;
      transition: all 0.3s;
    }
  }
}

// total

.Total {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.TotalFirst,
.TotalSecond {
  display: flex;
  margin-bottom: 20px;
}

.Border {
  flex: 1;
  border-bottom: 1px dashed #dfdfdf;
}

.TotalTitle {
  margin: 0 10px;
}

.TotalPrice{
  margin: 0 7px;
}

.ButtonBuy {
  position: relative;
  margin-top: 24px;
  background: #9dd558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 18px;
  border: none;
  transition: all .3s;

  &:hover {
    background: lighten(#9dd558, 10%);
    img {
      transform: translateX(5px);
    }
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
  img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.2s ease-in-out;
  }
}