.HeaderFixed {
  position: fixed;
}


.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 45px;
  border-bottom: 1px solid #eaeaea;
  .HeaderContent {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .LogoSub {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #9d9d9d;
    }
    .HeaderTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000000;
    }
  }
}

.HeaderLoginInner {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.HeaderLoginBox {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  .HeaderLoginSpn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
  }
}
