.wrapper {
  margin: 0 auto;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 950px;
}


// products

.products {
  padding-top: 40px;

  .products__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
  }
}

// filter and products title

.products-title__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.products__input {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  max-width: 250px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 46px;
}

.search {
  transform: translateX(30px) translateY(3px);
}

.products__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

// card

.card-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding-bottom: 40px;
}

.favorite {
  position: absolute;
  cursor: pointer;
  transform: translateX(-60px) translateY(20px);
}

.card-list__item {
  max-width: 210px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease;

  .card-list__title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .card-list__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .card-inner {
    margin-right: 25px;
  }

  .card-list__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .card__list-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .card-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }
}

.card-button__wrap {
  border: none;
  background: inherit;
  cursor: pointer;
}

.card__list-sub {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}

// drawer


